/* GENERAL PAGE STYLING */

* {
  margin: 0;
  padding: 0;
}

@keyframes example {
  0%   {background-color: #F2BAC9;}
  20%  {background-color: #F1BF98;}
  40%  {background-color: #BAD7F2;}
  80% {background-color: #B0F2B4;}
  100% {background-color: #F2BAC9}
}

body {
    color: white;
    contrast: 1;
    font-family: "Inconsolata", monospace;
    animation-name: example;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

a {
    color: white;
    text-decoration: none;
    border: 1px solid black;
    box-shadow: 5px 10px black;
}

a:hover {
    box-shadow: none;
    transform: translateY(-4px);
}

/* NAVIGATION STYLING */

#checkbox {
    display: none;
}


.button {
    font-size: 30px;
    padding: 0.5rem 2rem;
    color: white;
    
}

.button:hover {
    background-color: black;
}



.nav-menu {
  list-style-type: none;
  display: none;
  
  text-align: right;
font-size: 1.5em;
    text-decoration: none;
    margin: 5px;
    color: white;
}

nav-menu li:hover {
    box-shadow: hidden;
    transform: translateY(5px);
}

#checkbox:checked ~ .nav-menu {
    display: block;
}

header {
   display:flex;
   justify-content: space-between;
}

.menu-dropdown {
    display: block;
}

#page-icon {
text-align: left;
padding: 5px;
font-size: 30px;
}

/* WELCOME SECTION */

@keyframes slide-in-left {
    0 {
        transform: translateX(-1000px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.heading-section {
    display: block;
    padding: 100px 100px;
    text-align: left;
}

h1, h2, h4, h3 {
    display: flex;
    justify-content: center;
    align-items: center; 
}

h2 {
    font-size: 50px;
}

h4 {
 font-size: 35px;
 
}

h1 {
    font-size: 60px;

}

h3 {
    
    
}






