/* GENERAL PAGE STYLING */

* {
  margin: 0;
  padding: 0;
}

@keyframes example {
  0%   {background-color: #F2BAC9;}
  20%  {background-color: #F1BF98;}
  40%  {background-color: #BAD7F2;}
  80% {background-color: #B0F2B4;}
  100% {background-color: #F2BAC9}
}

body {
    color: white;
    contrast: 1;
    font-family: "Inconsolata", monospace;
    animation-name: example;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

a {
    text-decoration: none;
    color: white;
    
}

li {
    color: black;
    text-decoration: none;
    border: 1px solid black;
    box-shadow: 5px 5px black;
    margin: 10px;
}

li:hover {
    box-shadow: none;
    transform: translateY(-4px);
}
h1 {
    font-size: 6rem;
    animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
}

h2 {
    font-size: 4rem;
    animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.7s both;
}

h3 {
    font-size: 3rem;
    
    
}
h4 {
 font-size: 2rem;
 padding-bottom: 100px;
}
/* NAVIGATION STYLING */

header {
   display:flex;
   justify-content: space-between;
}
/* space-between gives the ability to oppositely position the icon from the menu button */

#page-icon {
text-align: left;
padding: 5px;
font-size: 30px;
text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
}

/* CHECKBOX HACK */
#checkbox {
    display: none;
}


#checkbox:checked ~ .nav-menu {
    display: block;
    z-index: 1;
}

.button {
    font-size: 30px;
    padding: 0.5rem 2rem;
    color: white;
    text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
    
}

.button:hover {
    background-color: black;
}

.menu-dropdown {
    display: block;
}

.nav-menu {
    list-style-type: none;
    display: none;
    text-align: right;
    font-size: 1.5em;
    text-decoration: none;
    margin: 5px;
    color: white;
    text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
}

nav-menu li:hover {
    box-shadow: none;
    transform: translateY(-5px);
}



/* WELCOME SECTION */

@keyframes slide-in-left {
    0% {transform: translateX(-1000px);
    opacity: 0;
    }
    100% {
    transform: translateX(0);
    opacity: 1;
    }
}

.heading-section {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    text-align: left;
    line-spacing: 2;
    text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
}


/* MEDIA BREAKPOINTS */

/* included ipad and mobile together as only headings need responsivity */
@media only screen and (max-width: 750px) {
    .heading-section {
        text-align: center;
    }
    
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    h3, h4 {
        text-align: left;
        font-size: 1.5em;
        padding: 10px;
        font-size: 1rem;
    }
}



