* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: #BAD7F2;
    color: black;
    font-family: "Inconsolata", monospace;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    background-color: black;
}

#checkbox {
    display: none;
}

.button {
    font-size: 30px;
    background: rgb(18, 175, 196);
    padding: 0.5rem 2rem;
    color: white;
    display: flex;
    justify-content: flex-end;
}

li {
    list-style: none;
}

nav {
    width: 100%;
    background-color:#B0F2B4;
    
}



.nav-menu {
  list-style-type: none;
  display: none;
  text-align: right;
  text-decoration: none;
  margin: 5px;
  color: white;
}



#checkbox:checked ~ .nav-menu {
    display: block;
}

.nav-list {
    padding: 5px;

}

#page-icon {
text-align: left;
border: solid 1px black;
}

.about-section {
    
}

h1 {
    padding: 60px;
}

p {
    color: black;
    padding: 50px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

img {
    border-radius: 10px;
    border: 3px black solid;
    display: block;
    float: left;
    margin: 40px;
}

.education-section {
    color: black;
    display: inline;
}
