* {
  margin: 0;
  padding: 0;
}



body {
    background-color: #BAD7F2;
    contrast: 1;
    font-family: "Inconsolata", monospace;
    animation-name: example;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

a {
    color: white;
    text-decoration: none;
    border: 1px solid black;
    box-shadow: 5px 10px black;
}

a:hover {
    box-shadow: none;
    transform: translateY(-4px);
}

/* NAVIGATION STYLING */

#checkbox {
    display: none;
}


.button {
    font-size: 30px;
    padding: 0.5rem 2rem;
    color: white;
    
}

.button:hover {
    background-color: black;
}



.nav-menu {
  list-style-type: none;
  display: none;
  
  text-align: right;
font-size: 1.5em;
    text-decoration: none;
    margin: 5px;
    color: white;
}

nav-menu li:hover {
    box-shadow: hidden;
    transform: translateY(5px);
}

#checkbox:checked ~ .nav-menu {
    display: block;
    position: absolute;
}

header {
   display:flex;
   justify-content: space-between;
}

.menu-dropdown {
    display: block;
}

#page-icon {
text-align: left;
padding: 5px;
font-size: 30px;
}

.about-section {
    
}

h1 {
    padding: 60px;
}

p {
    color: black;
    padding: 50px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

img {
    border-radius: 10px;
    border: 3px black solid;
    display: block;
    float: left;
    margin: 40px;
}

.education-section {
    color: black;
    display: inline;
}
