* {
  margin: 0;
  padding: 0;
}


body {
    background-color: #BAD7F2;
    color: white;
    contrast: 1;
    font-family: "Inconsolata", monospace;
    animation-name: example;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

a {
    color: white;
    text-decoration: none;
    border: 1px solid black;
    box-shadow: 5px 10px black;
}

a:hover {
    box-shadow: none;
    transform: translateY(-4px);
}

/* NAVIGATION STYLING */

#checkbox {
    display: none;
}


.button {
    font-size: 30px;
    padding: 0.5rem 2rem;
    color: white;
    
}

.button:hover {
    background-color: black;
}



.nav-menu {
  list-style-type: none;
  display: none;
  
  text-align: right;
font-size: 1.5em;
    text-decoration: none;
    margin: 5px;
    color: white;
}

nav-menu li:hover {
    box-shadow: hidden;
    transform: translateY(5px);
}

#checkbox:checked ~ .nav-menu {
    display: block;
}

header {
   display:flex;
   justify-content: space-between;
}

.menu-dropdown {
    display: block;
}

#page-icon {
text-align: left;
padding: 5px;
font-size: 30px;
}

/* HEADINGS SECTION */


h1 {
    padding: 1.5em 1.5em
}
img {
    width: 300px;
    max-height: 300px;
}
h1 {
  font-size: 4rem; 
  padding-top: 50px;
}

/* PROJECTS SECTION */

.projects-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
  flex-wrap: wrap;
  padding: 0 40px;
}

.column {
  flex: 30%;
  max-width: 30%;
  padding: 0 15px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.project-image {
  
}

project-link {
    margin: 30px;
padding: 30px
}
img {
    
}


@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

