* {
  margin: 0;
  padding: 0;
}


body {
    background-color: #BAD7F2;
    color: black;
    contrast: 1;
    font-family: "Inconsolata", monospace;
}

a {
    color: black;
    text-decoration: none;
    
}

a:hover {
    color: white;
}

/* NAVIGATION STYLING */

#checkbox {
    display: none;
}


.button {
    font-size: 30px;
    padding: 0.5rem 2rem;
    color: black;
    
}

.button:hover {
    background-color: black;
    color: white;
}



.nav-menu {
  list-style-type: none;
  display: none;
  text-align: right;
font-size: 1.5em;
    text-decoration: none;
    margin: 5px;
    color: white;
}

li {
 border: 1px solid black;
 box-shadow: 15px 10px black;   
}

li:hover {
background-color: black;
box-shadow: none;

}

#checkbox:checked ~ .nav-menu {
    display: block;
}

header {
   display:flex;
   justify-content: space-between;
}

.menu-dropdown {
    display: block;
}

#page-icon {
text-align: left;
padding: 5px;
font-size: 30px;
}

/* HEADINGS SECTION */
h1 {
    padding: 1.5em 1.5em
}
img {
    width: 300px;
    max-height: 300px;
}
h1 {
  font-size: 4rem; 
  padding-top: 50px;
}

/* PROJECTS SECTION */

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 40px;
}

.column {
  flex: 30%;
  max-width: 30%;
  padding: 0 15px;
}

.content {
position: relative;
max-width: 100%;
  margin: auto;
  overflow: hidden;
}


.content .content-overlay {
  background: rgba(0, 0, 0, 0.37);
  position: absolute;
  height: 90%;
  width: 100%;
  left: 0;
  top: 5%;
  bottom: 0;
  right: 0;
  opacity: 0;
  
}

.content .content-overlay2 {
  border: 2px solid #fff
  position: absolute;
  height: 95%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  opacity: 0;
  
}

.content:hover .content-overlay, .content:hover .content-overlay2{
  opacity: 1;
}


.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  
}

.content:hover .content-details{
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  
}


.project-link {
    margin: 30px;
   
}

img {
  display: block;
  width: 100%;
  height: 500px; 
  object-fit: cover; 
}



@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

