* {
  margin: 0;
  padding: 0;
}

body {
    background-color: #BAF2E9;
    color: white;
    contrast: 1;
    font-family: "Inconsolata", monospace;
}

a {
    color: white;
    text-decoration: none;
    align: center;
}

a:hover {
    background-color: black;
}

#checkbox {
    display: none;
}

.button {
    font-size: 30px;
    background: rgb(18, 175, 196);
    padding: 0.5rem 2rem;
    color: white;
    display: flex;
    justify-content: flex-end;
}


.nav-list {
    text-decoration: none;
    top: 0;
    float: right;
    padding-right: 10px;
    
}

.nav-menu {
  list-style-type: none;
  display: none;
  text-align: right;
  text-decoration: none;
  margin: 5px;
  color: white;
}



#checkbox:checked ~ .nav-menu {
    display: block;
}

.nav-list a {
    
}

#page-icon {
text-align: left;
background-color: white;
border: solid 1px black;
}

/* MEDIA SECTION */
img {
    width: 600px;
    height: auto;
}

h1 {
    padding-top: 40px;
}

h4 {
    font-size: 40px;
    padding: 20px;
}
