* {
  margin: 0;
  padding: 0;

}

body {
    background-color: #BAD7F2;
    font-family: "Inconsolata", monospace;
}

a {
    text-decoration: none;
}

#checkbox {
    display: none;
}


.button {
    font-size: 30px;
    padding: 0.5rem 2rem;
    color: black;
}

.button:hover {
    background-color: black;
    color: white;
}

.nav-menu {
  list-style-type: none;
  display: none;
  text-align: right;
  font-size: 1.5em;
  text-decoration: none;
    
}

li {
 border: 1px solid black;
 box-shadow: 15px 10px black;
 margin: 10px;  
}

li:hover {
box-shadow: none;

}

#checkbox:checked ~ .nav-menu {
    display: block;
}

header {
   display:flex;
   justify-content: space-between;
}

.menu-dropdown {
    display: block;
}

#page-icon {
text-align: left;
padding: 5px;
font-size: 30px;
color: black;
}

/* MEDIA SECTION */
.media-section {
    float: left;
    width: 75%;
    padding-left: 25px;
}

img {
 width: 400px;
 max-height: 100%;
float: left;
margin: 10px;
}


h1 {
  font-size: 4rem; 
  padding: 50px;
}


h4 {
    font-size: 40px;
    padding: 20px;
    color: black;
}

p, a {
    color: black;
    margin: 15px;
}


.content-details {
    
}

.media-container {
    margin-bottom: 20px;
}

.media-container:hover {
    border: 2px solid black;
}
