* {
  margin: 0;
  padding: 0;
}

body {
    background-color: #BAD7F2;
    color: white;
    contrast: 1;
    font-family: "Inconsolata", monospace;
}

#checkbox {
    display: none;
}


.button {
    font-size: 30px;
    padding: 0.5rem 2rem;
    color: black;
    
}

.button:hover {
    background-color: black;
    color: white;
}



.nav-menu {
  list-style-type: none;
  display: none;
  text-align: right;
  font-size: 1.5em;
    text-decoration: none;
    color: white;
}

li {
 border: 1px solid black;
 box-shadow: 15px 10px black;
 margin: 10px;  
}

li:hover {
background-color: black;
box-shadow: none;

}

#checkbox:checked ~ .nav-menu {
    display: block;
}

header {
   display:flex;
   justify-content: space-between;
}

.menu-dropdown {
    display: block;
}

#page-icon {
text-align: left;
padding: 5px;
font-size: 30px;
}

/* MEDIA SECTION */
img {
display: inline; 
  width: 100px;
  height: 100px;
  padding: 5px;
  
}


h1 {
  font-size: 4rem; 
  padding: 50px;
  
}


h4 {
    font-size: 40px;
    padding: 20px;
    color: black;
}

p, a {
    color: black;
    margin: 15px;
}

.media-link {
    border: 1px solid black;
}

.content-details {
    display: inline;
}
