/* GENERAL STYLING */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: #BAD7F2;
    font-family: "Inconsolata", monospace;
}

a {
    text-decoration: none;
    color: black;
}

/* NAV SECTION */

header {
   display:flex;
   justify-content: space-between;
}


#page-icon {
text-align: left;
padding: 5px;
font-size: 30px;
color: black;
}


/* Checkbox hack used */
#checkbox {
    display: none;
}

.button {
    font-size: 30px;
    padding: 0.5rem 2rem;
    color: black;
}

.button:hover {
    background-color: black;
    color: white;
}

.menu-dropdown {
    display: block;
    padding-top: 10px;
    padding-right: 30px;
}

.nav-menu {
  list-style-type: none;
  display: none;
  text-align: right;
  font-size: 1.5em;
  text-decoration: none; 
  
}

.nav-menu > li {
 border: 1px solid black;
 box-shadow: 5px 5px black;
 margin: 10px; 
 list-style: none; 
}

.nav-menu > li:hover {
transform: matrix(1, 0, 0, 1, 0, -5);
box-shadow: none;
}

#checkbox:checked ~ .nav-menu {
    display: block;
    position: absolute;
    z-index: 1;
}

/* HEADING SECTION */

h1 {
  font-size: 4rem; 
  padding: 50px;
  text-align: center;
}

/* FORM SECTION */


.form-container {
    font-size: 1.5rem;
    margin: 0 auto;
}

.input {
    width: calc(80% - 50px);
    }


.input, .form-custom-select, .contact-custom-select {
    border: 0;
    line-height: 1.5;
    border-bottom: 2px solid grey;
    border-radius: none;
    padding: 1px 2px;
    font-family: inherit;
    font-size: 1.5rem;
    background-color: #BAD7F2;
    
}

.input:hover, .form-custom-select:hover, .contact-custom-select:hover{
    border-bottom: 2px solid yellow;
    transition: all 0.5s ease-in-out;
}

.input:active, .form-custom-select:active, .contact-custom-select:active {
    border-bottom: 2px solid yellow;
}


.reason {
    padding: 0px 5px;
    
}

.btn-send-message-button {
    font-style: italic;
    font-family: inherit;
    font-size: 20px;
    background-image: none;
    background-color: transparent;
    border: 2px solid yellow;
    text-align: center;
    padding: 0.75rem 2rem;
    margin: 20px;
}

.btn-send-message-button:hover {
    background-color: yellow;
    transition: all 0.5s ease-in-out;
}

/* CONTACT LINKS SECTION */

.title-container {
    display: block;
    text-align: center;
    bottom: 40px;
    left: 10%;
}

.primary-contact-heading {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    animation: slide-in-left 0.5s 0.5s both;
}

@keyframes slide-in-left {
    0% {transform: translateX(-1000px);
    opacity: 0;
    }
    100% {
    transform: translateX(0);
    opacity: 1;
    }
}

.sub-contact-heading {
    display: block;
    animation: slide-in-left 0.8s 0.5s both;
    font-size: 30px;
}

.contact-section {
    display: flex;
    justify-content: center;
    
}

.contact-item {
    background-color: white;
    border: 2px solid black;
    padding: 10px;
    border-radius: 80%;
    font-size: 50px;
    position: relative;
    margin: 10px;
    box-shadow: 3px 3px black;
}

.contact-item:hover {
transform: matrix(1, 0, 0, 1, 0, -5);
}

/* MEDIA BREAKPOINTS */
/* IPAD SIZE */
@media only screen and (max-width: 800px){ 

.form-container {
    width: 720px;
    max-width: 90%;
    padding-right: 15px;
    padding-left: 15px;
    }
.contact-item:active {
transform: matrix(1, 0, 0, 1, 0, -5);
}

}

/* MOBILE SIZE */
@media only screen and (max-width: 600px) {
.form-container {
    width: 540px;
    max-width: 90%;
    }
 .contact-container {
     padding-left: 15px;
     padding-right: 15px;
 }   

.contact-section {
    display: flex;
}
 .contact-item {
     margin: 0 auto;
     font-size: 30px;
 }

.contact-item:active {
transform: matrix(1, 0, 0, 1, 0, -5);
}

}


